# Produção

Importando bibliotecas

In [1]:
import pickle
from sklearn import preprocessing
import pandas as pd
import random

Importamos o modelo no formato pickle

In [2]:
pickled_model = pickle.load(open('./model/model.pkl', 'rb'))

/home/jonas/anaconda3/lib/python3.9/site-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator DecisionTreeRegressor from version 1.0.2 when using version 1.2.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/home/jonas/anaconda3/lib/python3.9/site-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator RandomForestRegressor from version 1.0.2 when using version 1.2.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

Criamos um DataFrame com valores aleatórios respeitando os extremos dos dados originais

In [3]:
data = {'Rooms': [random.randint(1,10) for _ in range(100)],
        'Distance': [random.uniform(0,48.1) for _ in range(100)] ,
        'Bathroom': [random.randint(1,10) for _ in range(100)],
        'Car': [random.randint(0,10) for _ in range(100)],
        'Landsize': [random.uniform(0,433014) for _ in range(100)],
        'Lattitude': [random.uniform(-38.182550,-37.408530) for _ in range(100)],
        'Longtitude': [random.uniform(144.431810,145.526350) for _ in range(100)],
        'Propertycount': [random.randint(249,21650) for _ in range(100)], 
        'Month': [random.randint(1,12) for _ in range(100)]}

#TODO: substituir os valores manuais por variaveis que dependem da base importada

df = pd.DataFrame.from_dict(data)
df

,Rooms,Distance,Bathroom,Car,Landsize,Lattitude,Longtitude,Propertycount,Month
0,9,20.314426,2,2,42722.592907,-38.108977,145.388536,13760,2
1,9,8.361182,5,9,25293.621273,-37.697037,145.526156,13540,12
2,1,38.840562,10,10,22557.365550,-37.728733,144.710936,1918,9
3,4,30.522214,9,6,133593.663445,-38.176546,144.580139,6899,12
4,8,45.698394,5,2,299534.672233,-37.542454,145.275225,9493,12
...,...,...,...,...,...,...,...,...,...
95,6,44.662978,3,4,97218.109905,-37.877150,144.579564,9561,8
96,4,39.361952,8,8,428005.102587,-38.104201,144.680516,5306,10
97,8,31.465324,7,0,399943.437827,-37.849898,144.783968,12399,8
98,1,20.025434,5,5,223234.544368,-37.591569,144.685236,1886,9
99,4,21.873576,1,2,430116.555098,-37.536621,144.620008,8900,11

Retomamos o scaler no qual o modelo foi treinado no formato pickled e tratamos o novo dataset gerado com ele

In [4]:
# standardization

scaler = pickle.load(open('./model/scalar.pkl', 'rb'))

# fit our data
cols = [col for col in df.columns if col != "Price"]
scaled_cols = scaler.transform(df[cols])
scaled_cols = pd.DataFrame(scaled_cols, columns=cols)
scaled_cols.head()

/home/jonas/anaconda3/lib/python3.9/site-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator StandardScaler from version 1.0.2 when using version 1.2.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

,Rooms,Distance,Bathroom,Car,Landsize,Lattitude,Longtitude,Propertycount,Month
0,6.342913,1.734112,0.673367,0.403998,10.566080,-3.782310,3.785132,1.440150,-1.704608
1,6.342913,-0.302734,5.010593,7.689914,6.198488,1.415223,5.109530,1.389904,1.920684
2,-2.027803,4.890984,12.239304,8.730760,5.512800,1.015308,-2.735781,-1.264478,0.833097
3,1.111216,3.473529,10.793562,4.567379,33.337803,-4.634839,-3.994512,-0.126853,1.920684
4,5.296574,6.059566,5.010593,0.403998,74.921585,3.365621,2.694680,0.465598,1.920684

Por fim, predizemos os valores alvo (preço)

In [6]:
# Predição com os valores aleatórios

pred_random = pickled_model.predict(scaled_cols)
pred_random/1e6 #exibe os resultados em milhões

array([1.623235  , 1.40341   , 0.867365  , 1.150735  , 1.21334508,
       1.320695  , 2.18849   , 1.188335  , 1.253845  , 0.936655  ,
       0.690725  , 1.026525  , 1.432831  , 0.742855  , 0.963605  ,
       0.87644   , 1.13591008, 1.03335   , 0.861952  , 0.780315  ,
       1.814248  , 1.47427888, 0.95589   , 0.950955  , 1.25269388,
       0.39235   , 1.290877  , 1.09095   , 0.957565  , 0.68567   ,
       2.89785   , 0.768693  , 1.22301   , 1.409065  , 1.14047   ,
       1.29242   , 0.93639   , 0.83305   , 1.16683   , 1.235925  ,
       1.0051    , 1.39432   , 1.183235  , 1.03117   , 1.424475  ,
       0.983355  , 6.41167   , 6.16814   , 1.293405  , 1.241355  ,
       1.219895  , 1.09832   , 1.040055  , 1.42273   , 1.37802   ,
       2.9232    , 1.17495   , 1.99173   , 0.916555  , 0.83836   ,
       0.72995   , 1.386335  , 1.537205  , 0.66532   , 1.235985  ,
       2.69346   , 0.902665  , 1.34436   , 0.454     , 0.88017   ,
       0.931275  , 1.36657   , 1.05822982, 1.08861   , 1.345155  ,
       1.092825  , 1.31616   , 5.431305  , 1.42813   , 0.540041  ,
       0.7587975 , 1.2259    , 1.537812  , 1.183265  , 0.685885  ,
       0.77106   , 0.892204  , 1.141015  , 2.16263   , 1.134195  ,
       0.44088   , 1.43149016, 1.607973  , 1.096955  , 1.16765008,
       1.12814388, 1.17365   , 1.150555  , 0.8176    , 0.812095  ])