# Produção

Importando bibliotecas

In [1]:
import pickle
from sklearn import preprocessing
import pandas as pd
import random

Criamos um DataFrame com valores aleatórios respeitando os extremos dos dados originais

In [11]:
data = {'Rooms': [random.randint(1,10) for _ in range(100)],
        'Distance': [random.uniform(0,48.1) for _ in range(100)] ,
        'Bathroom': [random.randint(1,10) for _ in range(100)],
        'Car': [random.randint(0,10) for _ in range(100)],
        'Landsize': [random.uniform(0,433014) for _ in range(100)],
        'Lattitude': [random.uniform(-38.182550,-37.408530) for _ in range(100)],
        'Longtitude': [random.uniform(144.431810,145.526350) for _ in range(100)],
        'Propertycount': [random.randint(249,21650) for _ in range(100)], 
        'Month': [random.randint(1,12) for _ in range(100)]}

#TODO: substituir os valores manuais por variaveis que dependem da base importada

df = pd.DataFrame.from_dict(data)
df

,Rooms,Distance,Bathroom,Car,Landsize,Lattitude,Longtitude,Propertycount,Month
0,4,14.639399,10,8,349079.604891,-37.880215,144.549043,17347,11
1,7,2.274412,5,0,11548.745591,-38.043264,145.419483,13626,1
2,2,1.805827,2,5,322528.141540,-37.487070,145.451061,2805,10
3,1,35.632123,10,1,93780.518494,-37.814090,145.187732,15399,11
4,1,25.871361,6,5,168943.616576,-37.791598,144.879454,17070,12
...,...,...,...,...,...,...,...,...,...
95,4,36.352212,8,3,48125.346561,-37.875050,145.115418,16340,12
96,1,37.212730,6,9,34717.492890,-38.145238,144.528330,10170,5
97,6,24.294078,4,1,168677.728531,-37.483536,144.489201,21247,12
98,9,17.004725,9,4,160104.595139,-38.002491,144.956922,21078,3
99,5,48.096700,4,9,127294.152860,-38.015008,145.215977,9553,1

Retomamos o scaler no qual o modelo foi treinado no formato pickled e tratamos o novo dataset gerado com ele

In [14]:
scaler = pickle.load(open('./model/std_scalar.pkl','rb'))

In [15]:
scaler

{'Rooms': [2.94, 0.96],
 'Price': [1075684.08, 639310.72],
 'Distance': [10.14, 5.87],
 'Bathroom': [1.53, 0.69],
 'Car': [1.61, 0.96],
 'Landsize': [558.42, 3990.67],
 'Lattitude': [-37.81, 0.08],
 'Longtitude': [145.0, 0.1],
 'Propertycount': [7454.42, 4378.58],
 'Month': [6.7, 2.76]}

In [16]:
df_prod = df.iloc[0:1]
df_prod

,Rooms,Distance,Bathroom,Car,Landsize,Lattitude,Longtitude,Propertycount,Month
0,4,14.639399,10,8,349079.604891,-37.880215,144.549043,17347,11

In [18]:
df_scalar = pd.DataFrame()

for cols in df_prod.columns:
    z_prod = (df_prod[cols]-scaler[cols][0])/scaler[cols][1]
    df_scalar[cols] = z_prod

df_scalar

,Rooms,Distance,Bathroom,Car,Landsize,Lattitude,Longtitude,Propertycount,Month
0,1.104167,0.766507,12.275362,6.65625,87.334003,-0.877682,-4.509574,2.259312,1.557971

In [26]:
pickled_model = pickle.load(open('./model/model.pkl', 'rb'))

pred = pickled_model.predict(df_scalar)
pred[0]

/home/jonas/anaconda3/lib/python3.9/site-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator DecisionTreeRegressor from version 1.0.2 when using version 1.2.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/home/jonas/anaconda3/lib/python3.9/site-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator RandomForestRegressor from version 1.0.2 when using version 1.2.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

931220.0