# Produção

Importando bibliotecas

In [54]:
import pickle
from sklearn import preprocessing
import pandas as pd
import random

Importamos o modelo no formato pickle

In [55]:
pickled_model = pickle.load(open('./model/model.pkl', 'rb'))

Criamos um DataFrame com valores aleatórios respeitando os extremos dos dados originais

In [60]:
data = {'Rooms': [random.randint(1,10) for _ in range(100)],
        'Distance': [random.uniform(0,48.1) for _ in range(100)] ,
        'Bathroom': [random.randint(1,10) for _ in range(100)],
        'Car': [random.randint(0,10) for _ in range(100)],
        'Landsize': [random.uniform(0,433014) for _ in range(100)],
        'Lattitude': [random.uniform(-38.182550,-37.408530) for _ in range(100)],
        'Longtitude': [random.uniform(144.431810,145.526350) for _ in range(100)],
        'Propertycount': [random.randint(249,21650) for _ in range(100)], 
        'Month': [random.randint(1,12) for _ in range(100)]}

#TODO: substituir os valores manuais por variaveis que dependem da base importada

df = pd.DataFrame.from_dict(data)
df

,Rooms,Distance,Bathroom,Car,Landsize,Lattitude,Longtitude,Propertycount,Month
0,9,32.261105,4,5,199036.489883,-37.949641,144.910853,20339,8
1,8,38.924446,5,7,216098.973244,-37.457217,144.866292,4763,12
2,1,41.005327,3,8,407868.437041,-37.966905,144.557174,3881,9
3,2,11.105174,9,3,282136.138441,-38.158323,145.208283,6641,4
4,8,34.805091,2,10,222130.910629,-37.844359,144.782757,11982,11
...,...,...,...,...,...,...,...,...,...
95,3,15.121485,7,7,169815.138083,-38.147690,145.404507,13066,4
96,9,47.773785,3,1,335715.051471,-37.853871,145.278394,3962,2
97,10,22.305977,9,3,43406.867981,-37.459278,144.618312,8810,6
98,2,38.914652,2,3,75230.907861,-37.414597,144.936354,601,4
99,1,29.045390,5,1,365772.766768,-37.940898,145.451309,6857,4

Retomamos o scaler no qual o modelo foi treinado no formato pickled e tratamos o novo dataset gerado com ele

In [58]:
# standardization

scaler = pickle.load(open('./model/scalar.pkl', 'rb'))

# fit our data
cols = [col for col in df.columns if col != "Price"]
scaled_cols = scaler.fit_transform(df[cols])
scaled_cols = pd.DataFrame(scaled_cols, columns=cols)
scaled_cols.head()

,Rooms,Distance,Bathroom,Car,Landsize,Lattitude,Longtitude,Propertycount,Month
0,-1.568615,0.059998,0.078718,-1.211823,0.897852,1.617222,1.289228,0.173685,-1.117343
1,-0.936109,-1.641221,0.763220,1.507980,0.056782,-0.300049,-0.858622,-1.146227,-1.117343
2,0.645156,0.428229,1.447722,-0.607423,1.188556,-1.178857,-1.094902,0.098112,0.251950
3,0.012650,1.530553,-1.632538,-1.514024,-0.966499,-1.278777,-0.614902,1.486497,1.621243
4,0.012650,-1.160984,0.420969,0.601379,-0.770452,1.570261,-0.050859,0.710475,1.347384

Por fim, predizemos os valores alvo (preço)

In [59]:
# Predição com os valores aleatórios

pred_random = pickled_model.predict(scaled_cols)
pred_random

array([ 665727.5       , 1813546.        , 1705515.        ,
       1037890.        ,  601645.        , 2158345.        ,
        737670.        , 1393185.        , 1211420.        ,
       1013138.        , 1344280.        ,  821626.88      ,
       1093070.        ,  698460.        , 1134565.        ,
        453418.33333333,  579555.        , 1781120.        ,
        873878.88      ,  740090.        ,  483600.        ,
       1577235.        , 1106250.        , 1156362.5       ,
       1207570.        , 1920775.        ,  918830.        ,
       1303435.        ,  336890.        ,  790434.06      ,
       1643040.        ,  925141.        ,  726080.22      ,
       1564835.        ,  370950.        ,  701667.5       ,
       1184690.        ,  919430.        , 1232600.74      ,
        604944.        ,  576135.        ,  887030.        ,
       1634560.        ,  769250.        ,  619490.        ,
        721339.98      , 1907650.        ,  445440.        ,
        803546.        ,  779418.        , 1277325.        ,
        810722.        ,  852865.        , 1565842.76      ,
       1939770.        , 1323390.        , 1294440.        ,
        607990.        ,  945896.        , 1007960.        ,
        667632.        , 1754945.        ,  884805.        ,
       1119599.        ,  808270.        ,  599885.        ,
       1652050.        ,  472677.        ,  644500.        ,
        672425.        , 2774765.        , 1472160.        ,
        829087.5       ,  927135.        , 1184290.        ,
       1165277.5       ,  796510.        ,  621537.        ,
       1017185.        , 1032569.        , 1309405.        ,
       1938420.        , 4985380.        ,  462820.        ,
       4957175.        , 1508860.        ,  554775.        ,
       1138445.        , 1083510.        , 1406526.        ,
       3987690.        ,  899530.        , 1597815.        ,
       1027403.33333333, 1614957.        ,  613075.        ,
        597655.        , 1320075.        ,  748040.        ,
        706290.        ])